name: .NET Core Desktop Inno Setup

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    strategy:
      matrix:
        configuration: [Debug, Release]

    runs-on: windows-latest  
    
    env:
      Solution_Name: Tests/Tests.sln
      Test_Project_Path: Tests/the_tester/the_tester.csproj
      INNOSETUP_SCRIPT: "C:/Users/rhoadg/Documents/GitHub/greg-leg/test-setup.iss"
      OUTPUT_DIR: "C:/Users/rhoadg/Documents/GitHub/greg-leg"

    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    # Install the .NET Core workload
    - name: Install .NET Core
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 6.0.x

    # Add  MSBuild to the PATH: https://github.com/microsoft/setup-msbuild
    - name: Setup MSBuild.exe
      uses: microsoft/setup-msbuild@v1.0.2

    #Debug PATH
    - name: Debug PATH
      run: echo $PATH

    # Change the working directory to the correct path
    - name: Change to test project directory
      run: cd Tests/the_tester

    # Restore the application to populate the obj folder with RuntimeIdentifiers
    - name: Restore the application
      run: msbuild $env:Solution_Name /t:Restore /p:Configuration=$env:Configuration
      env:
        Configuration: ${{ matrix.configuration }}

    # Execute all unit tests in the solution
    - name: Execute unit test
      run: dotnet test --configuration ${{ matrix.configuration }} $env:Test_Project_Path 
       
    - name: Build and Publish
      run: dotnet publish --configuration Release --output ${{ github.workspace }}/publish
      working-directory: Tests/the_tester

    
    - name: Run PowerShell script
      shell: powershell
      run: |
        $msBuildBinPath = "C:\Program Files\Microsoft Visual Studio\2022\Community\MSBuild\Current\Bin"
        $msBuildExecutable = Join-Path -Path $msBuildBinPath -ChildPath "MSBuild.exe"
        $directPath = "C:\Users\rhoadg\Documents\GitHub\greg-leg"
        $mainExecutable = "C:\Users\rhoadg\Documents\GitHub\greg-leg\Tests\the_tester\bin\Release\net6.0-windows\the_tester.exe"
        $version = "1.0"
    
        $solutionPath = Join-Path -Path $directPath -ChildPath "Tests\Tests.sln"
        $innoSetupExe = "C:\Program Files (x86)\Inno Setup 6\ISCC.exe"
        $outputFolder = Join-Path -Path $directPath -ChildPath "Installer\$version"
        $destinationPath = Join-Path -Path $outputFolder -ChildPath "the_tester.exe"

        # Run MSBuild with the specified path
        & $msBuildExecutable $solutionPath /property:Configuration=Release /p:Version=$version

        # Run your external PowerShell script
        .\Scripts\the-testerScript.ps1
    
        # Rest of your script

        if (Test-Path $outputFolder) {
            Write-Host "Folder Exists - Not Creating it"
        }
        else {
            New-Item -Path $outputFolder -ItemType directory
        }

        Copy-Item $mainExecutable -Destination $destinationPath
      working-directory: ${{ github.workspace }}
      
      